<main id="about">
  <h1 class="lg-heading">
    About
    <span class="text-secondary">Me</span>
  </h1>
  <h2 class="sm-heading">Let me tell you a few things...</h2>
  <div class="about-info">
    <img
      src="./assets/img/portrait_1_bl_wh_250_250.jpg"
      alt="Roman Zadorov"
      class="bio-image"
    />

    <div class="bio">
      <h3 class="text-secondary">My character and values</h3>
      <p>
        Passionate Front-End developer with experience of building complex 
        Enterprise Angular applications with focus on Quality and flawless 
        User Experience.
        Love to learn. My recipe for success: Hardwork, Discipline and 
        Positive Attitude.
      </p>
    </div>

    <div class="job job-1">
      <h3>REI Systems</h3>
      <h5>Software Engineer (Present)</h5>
      <div>
        <ul>
          <li>Design and develop large-scale Enterprise application using Angular 2+ framework along with HTML5, CSS3, JavaScript, TypeScript, Bootstrap, Form-Builder, JSON, Node.js, NPM
          </li>
          <li>Creating new components, modules, services, pipes, directives, 
            routes, etc
          </li>
          <li>Providing guidance to QA Automation team in Automation Framework 
            architecture, helping to build new automation scripts using Selenium, 
            Serenity BDD, Cucumber, upgrading existing framework and adding new 
            features
          </li>
          <li>Working with Spring Framework with JAVA programming language, SQL DB to 
            troubleshoot API related issues, adding new functionalities or improving the existing ones
          </li>
        </ul>
      </div>
    </div>

    <div class="job job-2">
      <h3>REI Systems</h3>
      <h5>QA  Engineer (Past)</h5>
      <ul>
        <li>As a part of a dynamic agile team, played a key role in testing multiple applications developed on Salesforce platform, combined with custom pages, built according to a client’s needs</li>
        <li>Implemented Selenium Automation Framework from scratch using POM (Page Object Model) to provide automated regression testing of main application pages</li>
        <li>Performed Black box, Grey box testing using a variety of functional techniques, such as Positive, Negative, Boundary, Data Driven, End-to-End, Regression and Integration testing</li>
        <li>Performed analysis on the project data (application defects, UAT feedback, and production issues)</li>
      </ul>
    </div>

    <div class="job job-3">
      <h3>Los-Altos Software Testing House</h3>
      <h5>QA Engineer (Past)</h5>
      <ul>
        <li>Tested an application developed to track and show the Group member’s locations on the map along with Social communication features. Conducted native app testing running on Android and iOS environments</li>
        <li>Performed Black box, Grey box testing using a variety of functional (Positive, Negative, Boundary, Data Driven, End-to-End), non-functional (GUI) techniques and integration testing (Google Maps, GPS services)</li>
        <li>Executed exploratory, Smoke/Build Verification, Ad-Hoc, Regression testing as defined by the Project testing activities for new releases</li>
      </ul>
    </div>
  </div>
</main>
