<main id="contact">
  <h1 class="lg-heading">
    Contact
    <span class="text-secondary">Me</span>
  </h1>
  <h2 class="sm-heading">This is how you can reach me...</h2>
  <div class="boxes">
    <div><span class="text-secondary">Email: </span> happydeveloper@gmail.com</div>
    <div><span class="text-secondary">Phone: </span> (703) 444-5555</div>
    <div>
      <a class="text-secondary" href="https://www.linkedin.com/in/zadoroff/" target="_blank">LinkedIn
      </a>
    </div>
    <div>
      <span class="text-secondary">Address: </span> Washington DC, Metro-area, Virginia
    </div>
  </div>
</main>
